.mirrored {
    transform: scaleX(-1);
}

.local-rock-paper-sissor-container {
    flex-direction: column;
    align-items: center;
    height: min-content;
}

.local-rock-paper-sissor-container h2, .local-rock-paper-sissor-container p, .buttonStyle {
    margin-top: 2rem;
    text-align: center;
}

.weapons {
    justify-content: center;
    gap: 1rem;
}

.weapons div {
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

.weapons p {
    font-size: 0.7rem;
}

img {
    width: 50px;
}

.selected-weapon { /* läggs till för att visa vilket "weapon" spelaren valt */
    background: radial-gradient(#00ff00, var(--detail--light--purple) 70%);
    border-radius: 50%;
}

.game-board {
    gap: 0rem;
}

#game-message {
    align-self: end;
    justify-content: center;
    width: 100px;
    margin-bottom: 1rem;
}

.playing-hands {
    flex-direction: column;
    align-items: center;
}

.playing-hands img {
    margin-top: 1rem;
}

/* .bot-hand img {
    transform: scaleX(-1);
} */

.bot-animation {
    animation: rotatRight 2s ease-in-out;
}

.your-animation {
    animation: rotatLeft 2s ease-in-out;
}

@keyframes rotatLeft {
  16%, 49%, 83% {
    transform: translateY(-20px) rotate(-10deg);
  }  
  0%, 33%, 66%, 100%  {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes rotatRight {
    16%, 49%, 83% {
        transform: translateY(-20px) rotate(10deg) scaleX(-1);
    }  
    0%, 33%, 66%, 100%  {
        transform: translateY(0) rotate(0deg) scaleX(-1);
    }
  }

  .score {
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .end-of-game-RPS {
    background-color: var(--detail--light--purple);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300%;
    height: 20vh;
    position: absolute;
    top: -100%;
  }